[ 
 <a href="?dump=1">dump</a> |
 <a href="?">reload</a> |
 <a href="?session=1">clear session</a> |
 <a href="?cookie=1">clear cookie</a>
 ]
<?php
if( isset($_GET['cookie']) ){
	$this->mark('clear cookie');
	foreach( $_COOKIE as $key => $var ){
		$this->SetCookie($key,null);
	}
	return;
}
if( isset($_GET['session']) ){
	$this->mark('clear session');
	$_SESSION = array();
	return;
}

$form = new Form5();
$form->time('Start');

$form_name = 'simple';
$_form = new Config();
$_form->name   = $form_name;
$_form->method = 'get';
//$_form->input  = new stdClass();

$input_name = 'nickname';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->id    = 'nickname';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'Nick name';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;

$input_name = 'realname';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = '<h1>Real name</h1>';
$_form->input->$input_name->value = '"/> <h1>XSS hoge</h1> <input type="text" value=" hole ';

$input_name = 'furigana';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = '全角';
$_form->input->$input_name->convert = 'zenkaku';

$input_name = 'katakana';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'フリガナ';
$_form->input->$input_name->convert = 'katakana';

$input_name = 'hankaku';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'ﾌﾘｶﾞﾅ';
$_form->input->$input_name->convert = 'hankaku';

$input_name = 'email';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'E-mail';
$_form->input->$input_name->validate->required = false;
$_form->input->$input_name->validate->permit   = 'email';

$input_name = 'email_confirm';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'E-mail (confirm)';
$_form->input->$input_name->validate->compare = 'email';
$_form->input->$input_name->error->compare = 'Does not match E-mail address. ($value)';

$input_name = 'email_mobile';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'E-mail (mobile)';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->required = true;
$_form->input->$input_name->validate->allow = '/@([a-z]\.)?(docomo|softbank|ezweb).ne.jp$/i';
$_form->input->$input_name->error->allow = '$label is japanese celler carrier only. (docomo, softbank, ezweb)';

$input_name = 'url';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->label = 'Home page';
$_form->input->$input_name->validate->required = false;
$_form->input->$input_name->validate->permit   = 'url';

$input_name = 'password';
$_form->input->$input_name->name = $input_name;
$_form->input->$input_name->type = 'password';
$_form->input->$input_name->validate->length = '6-32';

$input_name = 'comment';
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->type  = 'textarea';
$_form->input->$input_name->style = 'width:300px; height:40px;';
$_form->input->$input_name->validate->length = '-10000';
$_form->input->$input_name->validate->deny = '/[^0-9]?([0-9]{11}|[0-9]{2,3}[^0-9][0-9]{3,4}[^0-9][0-9]{3,4})[^0-9]?/';
$_form->input->$input_name->error->deny = '$value is deny in $label';

$input_name = 'age';
$_form->input->$input_name->name = $input_name;
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->required = true;
$_form->input->$input_name->validate->range = '18-99';
$_form->input->$input_name->error->{'permit-number'} = 'Please input a number.';
$_form->input->$input_name->error->required = 'Please be sure to input $label.';
$_form->input->$input_name->error->small = '$label is only 18 over. ($value)';

//  OS
$input_name = 'os';
$_form->input->$input_name->label  = 'OS (use cookie)';
$_form->input->$input_name->type   = 'select';
$_form->input->$input_name->value  = '';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->required = true;
	
	//  Option
	$list = array('','iPhone','Android','Windows Phone');
	for( $i=0; $i<count($list); $i++ ){
		$_form->input->$input_name->options->$i->value = $list[$i];
	}
	

$input_name = 'gender';
$_form->input->$input_name->name   = 'gender';
$_form->input->$input_name->type   = 'radio';
$_form->input->$input_name->value  = '';
$_form->input->$input_name->label  = 'Gender';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->required = true;
	
	//  Option
	$_form->input->$input_name->options->male->value   = 'Male';
	$_form->input->$input_name->options->female->value = 'Female';

$input_name = 'marriage';
$_form->input->$input_name->name  = 'marriage';
$_form->input->$input_name->type  = 'radio';
$_form->input->$input_name->label = 'Marriage';
$_form->input->$input_name->value = 'No';
	
	$_form->input->$input_name->options->yes->value = 'Yes';
	$_form->input->$input_name->options->no->value  = 'No';
	$_form->input->$input_name->options->no->label  = 'No (default)';

$input_name = 'agree1';
$_form->input->$input_name->name   = $input_name;
$_form->input->$input_name->type   = 'checkbox';
$_form->input->$input_name->value  = 'I agree (Save & Cookie)';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;

$input_name = 'agree2';
$_form->input->$input_name->name     = $input_name;
$_form->input->$input_name->type     = 'checkbox';
$_form->input->$input_name->value    = 'Save is yes, But not save cookie.';
$_form->input->$input_name->label    = 'Agree2';
$_form->input->$input_name->save     = true;
$_form->input->$input_name->cookie   = false;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;

$input_name = 'like';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name   = $input_name;
$_form->input->$input_name->type   = 'checkbox';
$_form->input->$input_name->value  = 'art';
$_form->input->$input_name->joint  = ', ';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;
	
	$_form->input->$input_name->options = new stdClass();

	$i = 'a';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'art';
	
	$i = 'b';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'movie';
	
	$i = 'c';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'music';
	
	$i = 'd';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'sports';
	
	$i = 'e';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'reading';

$input_name = 'know';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name   = $input_name;
$_form->input->$input_name->type   = 'checkbox';
$_form->input->$input_name->label  = 'Do you know?';
$_form->input->$input_name->value  = 'php';
$_form->input->$input_name->joint  = ' & ';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;

	$_form->input->$input_name->options = new stdClass();
	
	$i = 'cpp';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'C/C++';
//	$_form->input->$input_name->options->$i->label = 'C/C++';
	$_form->input->$input_name->options->$i->checked = false;
	
	$i = 'java';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'Java';
//	$_form->input->$input_name->options->$i->label = 'Java';
	$_form->input->$input_name->options->$i->checked = true;
	
	$i = 'php';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'PHP';
//	$_form->input->$input_name->options->$i->label = 'PHP';
	
	$i = 'perl';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'Perl';
//	$_form->input->$input_name->options->$i->label = 'Perl';
	
	$i = 'python';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'Python';
//	$_form->input->$input_name->options->$i->label = 'Python';
	
	$i = 'ruby';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'Ruby';
//	$_form->input->$input_name->options->$i->label = 'Ruby';
	
	$i = 'nothing';
	$_form->input->$input_name->options->$i = new stdClass();
	$_form->input->$input_name->options->$i->value = 'Nothing';
//	$_form->input->$input_name->options->$i->label = 'nothing';

$input_name = 'binary';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->type  = 'checkbox';
$_form->input->$input_name->label = 'Binary';
$_form->input->$input_name->joint = 'bit';
$_form->input->$input_name->value = '1010101';
$_form->input->$input_name->cookie = true;
	
	$_form->input->$input_name->options = new stdClass();
	
	for( $i = 7; $i>=0; $i--){
		$_form->input->$input_name->options->$i = new stdClass();
		$_form->input->$input_name->options->$i->value = 1 << $i;
		$_form->input->$input_name->options->$i->label = $i;
	}

	
$input_name = 'phone';
$_form->input->$input_name->label  = 'Phone No. (cookie is yes)';
$_form->input->$input_name->type   = 'text';
$_form->input->$input_name->joint  = '-';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->permit = 'phone';

	$i = 'a';
	$_form->input->$input_name->options->$i->value = '';
	$_form->input->$input_name->options->$i->tail  = '-';
	$_form->input->$input_name->options->$i->size  = '3';
	
	$i = 'b';
	$_form->input->$input_name->options->$i->value = '';
	$_form->input->$input_name->options->$i->tail  = '-';
	$_form->input->$input_name->options->$i->size  = '4';
	
	$i = 'c';
	$_form->input->$input_name->options->$i->value = '';
	$_form->input->$input_name->options->$i->size  = '4';

$input_name = 'birth';
$_form->input->$input_name->label  = 'Your birthday (cookie is yes)';
$_form->input->$input_name->joint  = '-';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate->permit = 'date';

	$i = 'year';
	$_form->input->$input_name->options->$i->type  = 'text';
	$_form->input->$input_name->options->$i->tail  = '-';
	$_form->input->$input_name->options->$i->size  = '4';
	$_form->input->$input_name->options->$i->value = $form->GetSaveValue('age',$form_name);
	$_form->input->$input_name->options->$i->placeholder = 'Year';
	//$_form->input->$input_name->options->$i->validate->range = '1900-'.date('Y');
	
	$i = 'month';
	$_form->input->$input_name->options->$i->type  = 'select';
	$_form->input->$input_name->options->$i->tail  = '-';
	$_form->input->$input_name->options->$i->validate->range = '1-12';
	for( $n=0; $n<=12; $n++){
		$_form->input->$input_name->options->$i->options->$n->value = $n ? $n : '';
	}
	
	$i = 'day';
	/*
	$year  = $form->GetInputOptionValue('year', $input_name,$form_name);
	$month = $form->GetInputOptionValue('month',$input_name,$form_name);
	$t = date('t', strtotime("{$year}-{$month}-01"));
	*/
	$_form->input->$input_name->options->$i->type    = 'select';
	$_form->input->$input_name->options->$i->validate->range = '1-31';//$t;
	for( $n=0; $n<=31; $n++){
		$_form->input->$input_name->options->$i->options->$n->value = $n ? $n : '';
	}
	
$input_name = 'upload';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name  = 'upload';
$_form->input->$input_name->type  = 'file';
$_form->input->$input_name->value = '';
$_form->input->$input_name->label = 'File Upload';
$_form->input->$input_name->cookie = true;
$_form->input->$input_name->validate = new stdClass();
$_form->input->$input_name->validate->required = true;

$input_name = 'button_submit';
$_form->input->$input_name = new stdClass();
$_form->input->$input_name->name  = $input_name;
$_form->input->$input_name->type  = 'submit';
$_form->input->$input_name->value = 'Submit';
$_form->input->$input_name->label = 'Submit button';
$_form->input->$input_name->style = 'margin: 10px 0px; width:200px; height:30px; font-size:120%;';

$form->time('After: config');

$form->AddForm($_form);
$form->time('After: AddForm');
//$form->d($form->session);
//$form->d(Toolbox::toArray($form->config));

if( isset($_GET['dump']) and $_GET['dump'] ){
	$dump['GET'] = $_GET;
	$dump['POST'] = $_POST;
	$dump['COOKIE'] = $_COOKIE;
	$dump['SESSION'] = $_SESSION;
	$this->d($dump);
}

?>
<div>
	<?php $form->Start('simple'); ?> 
	<?php $form->Input('button_submit', 'Submit!!'); ?> 
	<div>
		<?php $form->InputLabel('realname'); ?> : 
		<?php $form->Input('realname'); ?>
		<?php $form->InputError('realname'); ?> | 
		<?php $form->InputValue('realname'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('nickname'); ?> :  
		<?php $form->Input('nickname'); ?> 
		<?php $form->InputError('nickname'); ?> | 
		<?php $form->InputValue('nickname'); ?>  
	</div>
	<div>
		<?php $form->Label('furigana'); ?> :  
		<?php $form->Input('furigana'); ?> 
		<?php $form->Error('furigana'); ?> | 
		<?php $form->Value('furigana'); ?>  
	</div>
	<div>
		<?php $form->Label('katakana'); ?> :  
		<?php $form->Input('katakana'); ?> 
		<?php $form->Error('katakana'); ?> | 
		<?php $form->Value('katakana'); ?>  
	</div>
	<div>
		<?php $form->Label('hankaku'); ?> :  
		<?php $form->Input('hankaku'); ?> 
		<?php $form->Error('hankaku'); ?> | 
		<?php $form->Value('hankaku'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('url'); ?> : 
		<?php $form->Input('url'); ?> 
		<?php $form->InputError('url'); ?> | 
		<?php $form->InputValue('url'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('email'); ?> : 
		<?php $form->Input('email'); ?> 
		<?php $form->InputError('email'); ?> | 
		<?php $form->InputValue('email'); ?>
	</div>
	<div>
		<?php $form->InputLabel('email_confirm'); ?> : 
		<?php $form->Input('email_confirm'); ?> 
		<?php $form->InputError('email_confirm'); ?> | 
		<?php $form->InputValue('email_confirm'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('email_mobile'); ?> : 
		<?php $form->Input('email_mobile'); ?> 
		<?php $form->InputError('email_mobile'); ?> | 
		<?php $form->InputValue('email_mobile'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('comment'); ?> : 
		<?php $form->Input('comment'); ?> 
		<?php $form->InputError('comment'); ?>  | 
		<?php $form->InputValue('comment'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('password'); ?> : 
		<?php $form->Input('password'); ?> 
		<?php $form->InputError('password'); ?>  | 
		<?php $form->InputValue('password'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('age'); ?> : 
		<?php $form->Input('age'); ?>  
		<?php $form->InputError('age'); ?> | 
		<?php $form->InputValue('age'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('os'); ?> : 
		<?php $form->Input('os'); ?>  
		<?php $form->InputError('os'); ?> | 
		<?php $form->InputValue('os'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('gender'); ?> : 
		<?php $form->Input('gender'); ?>  
		<?php $form->InputError('gender'); ?> | 
		<?php $form->InputValue('gender'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('marriage'); ?> : 
		<?php $form->Input('marriage'); ?>  
		<?php $form->InputError('marriage'); ?> | 
		<?php $form->InputValue('marriage'); ?>  
	</div>
	<div>
		<?php $form->Label('agree1'); ?> : 
		<?php $form->Input('agree1'); ?> 
		<?php $form->Error('agree1'); ?> | 
		<?php $form->Value('agree1'); ?>  
	</div>
	<div>
		<?php $form->Label('agree2'); ?> : 
		<?php $form->Input('agree2'); ?> 
		<?php $form->Error('agree2'); ?> | 
		<?php $form->Value('agree2'); ?>  
	</div>
	<div>
		<?php $form->InputLabel('like'); ?> : 
		<?php $form->Input('like'); ?> 
		<?php $form->InputError('like'); ?> | 
		<?php $form->InputValue('like'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('know'); ?> : 
		<?php $form->Input('know'); ?> 
		<?php $form->InputError('know'); ?> |  
		<?php $form->InputValue('know'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('binary'); ?> : 
		<?php $form->Input('binary'); ?> 
		<?php $form->InputError('binary'); ?> |  
		<?php $form->InputValue('binary'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('phone'); ?> : 
		<?php $form->Input('phone'); ?> 
		<?php $form->InputError('phone'); ?> | 
		<?php $form->InputValue('phone'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('birth'); ?> : 
		<?php $form->Input('birth'); ?> 
		<?php $form->InputError('birth'); ?> | 
		<?php $form->InputValue('birth'); ?> 
	</div>
	<div>
		<?php $form->InputLabel('upload'); ?> : 
		<?php $form->Input('upload'); ?>  
		<?php $form->InputError('upload'); ?> | 
		<?php $form->InputValue('upload'); ?> 
	</div>
	<?php $form->Input('button_submit', 'Submit!!'); ?> 
	<?php $form->Finish('simple'); ?> 
</div>
<?
$form->time('After: DrawForm');

//$this->d(Toolbox::toArray($form->status));
//$this->mark($form->GetStatus('simple'));
//$this->mark($form->Secure('simple'));

$form->d(Toolbox::toArray($form->status));
$form->mark($form->GetStatus('simple'));
$form->mark($form->Secure('simple'));

$form->time('Finish');
